.popup__container {
  margin: 19px;
  box-sizing: border-box;
  width: 430px;
  height: auto;
  background-color: #fff;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 34px 36px 37px;
  position: relative;
}

@media screen and (max-width: 420px) {
  .popup__container {
    padding: 25px 22px;
  }
}
