.popup__submit-button {
  padding: 14px;
  margin-top: 10px;
  width: 100%;
  max-height: 50px;
  background: #000;
  border-radius: 2px;
  border: none;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.popup__submit-button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 420px) {
  .popup__submit-button {
    padding: 15px;
    margin-top: 45px;
    max-height: 46px;
    font-size: 14px;
    line-height: 1.21;
  }
}
