.popup__job-input {
  /* padding-top: 30px; */
  margin-top: 30px;
  padding: 10px 0;
  width: 100%;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__job-input:focus {
  outline-color: rgba(0, 0, 0, 0.2);
}

.popup__job-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
