.profile__title {
  margin: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 42px;
  line-height: 1.14;
  max-width: 294px;
}

@media screen and (max-width: 720px) {
  .profile__title {
    max-width: 320px;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .profile__title {
    max-width: 189px;
    font-size: 27px;
    line-height: 1.22;
  }
}
