.profile__button_type_edit-profile-info {
  width: 24px;
  height: 24px;
  border: 1px solid #fff;
  background-color: transparent;
  margin-top: 16px;
  background-image: url(../../../../images/button-edit.svg);
  background-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 720px) {
  .profile__button_type_edit-profile-info {
    left: calc(100% + 18px);
  }
}

@media screen and (max-width: 480px) {
  .profile__button_type_edit-profile-info {
    width: 18px;
    height: 18px;
    background-size: 7.5px;
    left: calc(100% + 10px);
    top: -7px;
  }
}
