.popup__close-button {
  border: none;
  width: 32px;
  height: 32px;
  position: absolute;
  top: -40px;
  right: -40px;
  background-size: 32px;
  background-color: transparent;
  background-image: url(../../../images/button-close.svg);
  background-repeat: no-repeat;
  transition: 0.3s;
  cursor: pointer;
}

.popup__close-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 640px) {
  .popup__close-button {
    top: -48px;
    right: 0px;
  }
}

@media screen and (max-width: 420px) {
  .popup__close-button {
    background-size: 20px;
    width: 20px;
    height: 20px;
    top: -36px;
  }
}
