.popup__profile-subtitle {
  padding-top: 30px;
  padding-bottom: 10px;
  max-width: 358px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
