@import url(../vendor/normalize.css);

@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__title-with-button/profile__title-with-button.css);
@import url(../blocks/profile/__button/profile__button.css);
@import url(../blocks/profile/__button/_type/profile__button_type_edit.css);
@import url(../blocks/profile/__button/_type/profile__button_type_add.css);
@import url(../blocks/profile/__title/profile__title.css);
@import url(../blocks/profile/__subtitle/profile__subtitle.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__element/elements__element.css);
@import url(../blocks/elements/__image/elements__image.css);
@import url(../blocks/elements/__container/elements__container.css);
@import url(../blocks/elements/__title/elements__title.css);
@import url(../blocks/elements/__button-like/elements__button-like.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../vendor/fonts/inter.css);
